h1 {
    color: grey;
    text-align: center;
}

.row1 {
    background-color: lightseagreen;
    height: 300px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    /* width: 700px; */
}

.row2 {
    background-color: palevioletred;
    height: 300px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.row3 {
    background-color: peachpuff;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}

img {
    height: 200px;
}

p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}